.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #243B55, #141E30);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  overflow: hidden;
}